.loginSuccess {
    background-color: #9ae7ff;
    border: 4px solid #24211a;
    font-size: 15px;
    padding: 10px;
}

.loginFailed {
    background-color: #cd76cf;
    border: 4px solid #24211a;
    font-size: 15px;
    padding: 10px;
}